* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #142159;
}

/* Login */

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__container {
  width: min(100%, 432px);
  background: #FFFFFF;
  border-radius: 16px;
  padding: 48px 32px 48px 48px;
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}

/* --- Login Text --- */

.login__text {
  width: 100%;
}

.login__text-title {
  max-height: 32px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
  margin-bottom: 8px;
}

.login__text-slogan {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.005em;
  color: #555555;
}

/* --- Login Field --- */

.login__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-right: 16px;
}

.login__field--form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.login__field--label-email, .login__field--label-password {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #333333;
}

.login__field--form-email, .login__field--form-password {
  max-height: 72px;
  width: 100%;
  margin-bottom: 16px;
}

.login__field--input-email, .login__field--input-password {
  width: 336px;
  height: 48px;
  border: 1px solid #555555;
  box-sizing: border-box;
  border-radius: 8px;
  padding-left: 16px;
  margin-top: 8px;
}

.login__email--error, .login__password--error {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #F03460;
  margin-bottom: 16px;
}

.login__active--error {
  border: 1px solid #F03460;
}

.login__field--eye {
  position: absolute;
  transform: translate(-40px, 19px);
  cursor: pointer;
}

.login__field--connect-box { 
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.login__field--connect-check {
  display: flex;
  align-items: center;
  gap: 0 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #000000;
  position: relative;
}

.login__field--connect-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  letter-spacing: -0.005em;
  color: #425DC7;
}

.login__button {
  width: 336px;
  height: 48px;
  background: #425DC7;
  color: #FFFFFF;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.login__button:hover {
  background: #425dc7ee;
  color: #000000;
}


@media (max-width: 768px){
  .login__container {
    width: min(100%, 328px);
    padding: 32px 16px 16px 16px;
    gap: 24px 0;
  }

  .login__field {
    padding-right: 0;
  }

  .login__text {
    text-align: center;
    width: 100%;
  }

  .login__text-title {
    font-size: 24px;
  }

  .login__text-slogan {
    font-size: 20px;
  }

  .login__field--input-email, .login__field--input-password {
    width: 296px;
  }

  .login__field--connect-box {
    margin-bottom: 24px;
  }

  .login__button {
    width: 296px;
  }
}