* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background: #F1F2F9;
}

/* Header */

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 64px;
  background: #142159;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.08);
}

.header-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 32px 0 20px;
}

.header-navbar__user {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* --- Logo --- */

.header-logo__link {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.header-logo__avatar {
  position: relative;
  width: 32px;
  height: 32px;
}

.header-logo__avatar--name {
  position: absolute;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #425DC7;
  top: 25%;
  left: 16%;
}

.header-logo__name--company {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

/* --- User --- */

.header-user {
  display: flex;
  align-items: center;
  gap: 0 28px;
  cursor: pointer;
}

.header-user__actions--list {
  display: flex;
  align-items: center;
  gap: 0 30px;
}

.header-user__actions--item {
  position: relative;
  width: 24px;
  height: 24px;
  position: relative;
}

.header-user__actions--help {
  display: none;
}

.header-user__actions--help-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  top: -4%;
  right: 45%;
}

.header-user__actions--help-list {
  border-bottom: 1px solid #F1F2F9;
}

.header-user__actions--help-item {
  margin-bottom: 24px;
}

.header-user__actions--help-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
}

.header-user__actions--help-specialist {
  padding-top: 24px;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #425DC7;
}

.header-user__actions--item:hover .header-user__actions--help {
  display: block;
  position: absolute;
  width: 200px;
  height: 190px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 32px 24px 28px 24px;
  right: -85px;
  top: 30px;
  z-index: 100;
}

.header-user__actions--question {
  position: absolute;
  top: 18%;
  right: 38%;
}

.header-user__actions--icon-notification {
  position: absolute;
  top: 0;
  right: 4px;
}

.header-user__actions--notification {
  display: none;
}

.header-user__actions--notification-item {
  border-bottom: 1px solid #F1F2F9;
}

.header-user__actions--notification-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  top: -2%;
  right: 48%;
}

.header-user__actions--notification-box {
  display: flex;
  margin-bottom: 6px;
  gap: 0 8px;
}

.header-user__actions--notification-emoji {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.header-user__actions--notification-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #000000;
}

.header-user__actions--notification-time {
  min-width: 38px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #999999;
}

.header-user__actions--notification-content {
  padding: 16px 0;
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}

.header-user__actions--notification-report {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #425DC7;
  margin-left: 26px;
}

.header-user__actions--notification-subtitle {
  max-width: 204px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #555555;
  margin: 0 0 16px 26px;
}

.header-user__actions--notification-resister {
  margin-bottom: 32px;
}

.header-user__actions--notification-form {
  display: flex;
  flex-direction: column;
  gap: 32px 0;
}

.header-user__actions--notification-input {
  margin-right: 12px;
}

.header-user__actions--notification-label {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.005em;
  color: #000000;
}

.header-user__actions--notification-go {
  font-weight: 500;
  font-size: 12px;
  letter-spacing: -0.005em;
  color: #425DC7;
  margin-left: 30px;
}

.header-user__actions--notification-task {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #425DC7;
  padding-top: 24px;
}

.header-user__actions--item:hover .header-user__actions--notification {
  display: block;
  position: absolute;
  width: 340px;
  height: 410px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 24px 24px 28px 24px;
  top: 30px;
  right: -160px;
  z-index: 100;
}

.header-user__actions--profile {
  display: flex;
  align-items: center;
  gap: 0 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  position: relative;
}

.header-user__actions--profile-content {
  display: none;
}

.header-user__actions--profile-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #FFFFFF;
  top: -8px;
  right: 46%;
}

.header-user__actions--profile-content {
  padding: 24px;
}

.header-user__actions--profile-client {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333333;
  border-bottom: 1px solid #F1F2F9;
  padding-bottom: 16px;
}

.header-user__actions--client-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #425DC7;
}

.header-user__actions--profile-list {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  padding-top: 24px;
}

.header-user__actions--profile-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.005em;
  color: #333333;
}

.header-user__actions--profile:hover .header-user__actions--profile-content {
  display: block;
  position: absolute;
  width: 224px;
  height: 174px;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  top: 40px;
  right: 6px;
}

/* Main */

.main {
  display: flex;
}

/* Sidebar */

.main-sidebar {
  position: sticky;
  top: 64px;
  left: 0;
  width: min(100%, 260px);
  height: calc(100vh - 64px);
  padding: 16px 16px 0 16px;
  overflow-y: scroll;
  background: #FFFFFF;
}

/* --- Menu List --- */

.sidebar-menu__list {
  margin-bottom: 86px;
  cursor: pointer;
}

.sidebar-menu__item {
  padding: 12px 8px;
}

.sidebar-menu__item:hover {
  width: 100%;
  height: 100%;
  background-color: #cdd2eb70;
  border-radius: 4px;
}

.sidebar-menu__item--box {
  display: flex;
  align-items: center;
}

.sidebar-menu__item--link {
  display: flex;
  align-items: center;
}

.sidebar-maenu__item--icon {
  margin-right: 16px;
}

.sidebar-menu__item--textbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.sidebar-menu__item--text {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #333333;
}

.sidebar-menu__item--list {
  display: none;
}

.sidebar-menu__item:hover .sidebar-menu__item--list {
  display: block;
  padding: 20px 0 0 20px;
}

.sidebar-menu__item--item {
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: -0.005em;
  padding: 8px 0 8px 20px;
  border-left: 2px solid #d3d3d3;
}

.sidebar-menu__item--item-link {
  color: #000000;
}

.sidebar-menu__item--item-link:hover {
  color: #425DC7;
}

.sidebar-menu__item--item:hover {
  border-left: 2px solid #425DC7;
}

/* --- Upgrade --- */

.sidebar-menu__upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px 0;
  width: 100%;
  height: 176px;
  background: #F1F2F9;
  border-radius: 12px;
  padding: 24px 16px 16px 16px;
}

.sidebar-menu__upgrade--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px 0;
  text-align: center;
}

.sidebar-menu__upgrade--title {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.005em;
  color: #000000;
}

.sidebar-menu__upgrade--link {
  width: 180px;
  height: 40px;
  background: #425DC7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  transform: all 100ms ease-in-out;
}

.sidebar-menu__upgrade--link:hover {
  background: #1834a5;
}

/* Main Content */

.main-content {
  width: min(100%, 1132px);
  height: 100%;
  padding: 16px 32px 32px;
  margin: 0 auto;
}

/* Realeases */

.content-releases {
  width: 100%;
  height: 80px;
  background: #425DC7;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.content-realeases__info {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-left: 32px;
}

.content-releases__info--text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.content-releases__button--link {
  width: 220px;
  height: 40px;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
  margin-right: 20px;
}

/* Content Report */

.content-report {
  width: 100%;
  height: 638px;
  margin-bottom: 32px;
}
.content-report__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 16px;
}

/* --- Report Buttons --- */

.content-report__buttons--list {
  display: flex;
  gap: 0 8px;
  margin-bottom: 16px;
}

.content-report__buttons--btn {
  width: 114px;
  height: 32px;
  background: #FFFFFF;
  border-radius: 8px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.content-report__buttons--btn:hover, .content-report__buttons--btn:hover path {
  background: #425DC7;
  color: #FFFFFF;
  stroke: #FFFFFF;
}

.content-report__buttons--active {
  background: #425DC7;
  color: #FFFFFF;
}

.content-report__buttons--arrow {
  display: flex;
  gap: 0 4px;
}

.content-report__text--paragrath {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #555555;
  margin-bottom: 16px;
}

.content-report__text--link {
  color: #425DC7;
}

/* --- Report Graphic --- */

.content-report__graphic {
  width: 100%;
  height: 502px;
  border-radius: 8px;
  background: #FFFFFF;
  padding: 24px;
}

.content-report__graphic--chart {
  max-width: 100%;
  max-height: 228px;
}

.content-report__graphic--text {
  border-bottom: 1px solid #EEEEEE;
}

.content-report__graphic--heading {
  display: flex;
  align-items: center;
  gap: 0 12px;
  margin-bottom: 16px;
}

.content-report__graphic--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.content-report__graphic--list {
  display: flex;
  gap: 0 24px;
}

.content-report__graphic--button {
  background: transparent;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.005em;
  color: #555555;
  cursor: pointer;
}

.content-report__graphic--active {
  color: #425DC7;
  border-bottom: 2px solid #425DC7;
  padding-bottom: 14px;
}

.content-report__graphic--button:hover {
  color: #425DC7;
  border-bottom: 2px solid #425DC7;
  padding-bottom: 14px;
}

.content-report__graphic--box {
  padding: 24px 0 48px 0;
  display: flex;
  justify-content: space-between;
  gap: 0 16px;
}

.content-report__graphic--box-results {
  width: min(100%, 350px);
  height: 72px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  border: 2px solid #F1F2F9;
  border-radius: 12px;
}

.content-report__graphic--box-icon {
  margin-left: 12px;
}

.content-report__graphic--box-text {
  display: flex;
  flex-direction: column;
}

.content-report__graphic--box-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #555555;
}

.content-report__graphic--box-number {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: -0.005em;
  color: #333333;
}

/* Content Insights */

.content-insights {
  width: 100%;
  height: 856px;
  padding: 24px;
  background: #FFFFFF;
  border-radius: 8px;
  margin-bottom: 32px;
}

.content-insights__heading {
  display: flex;
  align-items: center;
  gap: 0 16px;
  margin-bottom: 32px;
}

.content-insights__heading--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.content-insights__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #555555;
  margin-bottom: 36px;
}

/* --- Table --- */

.content-insights__table--headers {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #555555;
  border-bottom: 1px solid #EEEEEE;
  padding-bottom: 12px;
}

.content-insights__headers--three {
  padding-right: 10px;
}

.content-insights__headers--four {
  padding-right: 20px;
}

.content-insights__headers--five {
  padding-right: 70px;
}

.content-insights__table--row {
  width: 100%;
  height: 56px;
}

.content-insights__table--row:nth-child(odd) {
  background: #F1F2F9;
  border-radius: 8px;
}

.content-insights__table--cell-order {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #425DC7;
  padding: 20px;
  margin: 0 auto;
}

.content-insights__table--cell-product {
  width: 596px;
  display: flex;
  align-items: center;
  gap: 0 16px;
  padding: 8px 48px 8px 0;
}

.content-insights__table--cell-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
}

.content-insights__table--cell-demand {
  font-style: 400;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.content-insights__table--cell-departments {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

.content-insights__table--cell-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #333333;
}

/* --- Insights Pages --- */

.content-insights__pages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 24px;
}

.content-insights__pages--amount-form {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.content-insights__pages--amount-input {
  width: 64px;
  height: 32px;
  border: 1px solid #999999;
  border-radius: 8px;
}

.content-insights__pages--amount-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.005em;
  color: #333333;
}

.content-insights__pages--pagination {
  display: flex;
  align-items: center;
  gap: 0 12px;
}

.content-insights__pages--pagination-touch {
  display: flex;
  align-items: center;
  gap: 0 16px;
}

.content-insights__pages--pagination-previous, .content-insights__pages--pagination-next {
  width: 24px;
  height: 24px;
}

.content-insights__pages--pagination-button {
  border: none;
  background: transparent;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.005em;
  color: #333333;
  cursor: pointer;
}

.content-insights__pages--pagination-active  {  
  width: 24px;
  height: 24px;
  background: #425DC7;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex ;
  align-items: center;
  justify-content: center;
}